.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 200px;
    gap: 10px;
}
.box{
    border: 2px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}