.layout{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 80px 200px 80px;
    gap: 10px;
    

}
header{
    grid-column: 1/4;
    background-color: chartreuse ;

}
footer{
    grid-column: 1/4;
    background-color: blueviolet;

}
main{
    background-color: cadetblue;

}
nav{
    background-color: aquamarine;
}
aside{
    background-color: cyan;
}