body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}
/* default view */
@media (max-width:765px){
    body{
       font-size: 10px;
       padding: 10px;
       background-color: blue;
}
}
@media  (min-width:400px ) and (orientation: portrait){
    body{
       font-size: 10px;
       padding: 10px;
       background-color: rgb(6, 181, 9);
}
}