.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 200px;
    gap: 10px;
    background-color: aqua;
}
.box{
    border: 2px solid black;
    padding: 70px;
    font-size: 30px;
    text-align: center;
    background-color: blueviolet;
}
.box1{
    border: 2px solid rgb(207, 0, 0);
    padding: 70px;
    font-size: 30px;
    text-align: center;
    ;
    background-color: rgb(40, 2, 76);
}
.box2{
    border: 2px solid rgb(46, 9, 126);
    padding: 70px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(13, 1, 24);
}