#container{
    width: 60%;
    height: 500px;
    background-color: burlywood;
    border: solid blue;
    display: flex;
    justify-content: space-around;
    /* vertical-align: middle; */
    align-items: center;
    flex-wrap: wrap;
}
.items{
    width: 100px;
    height: 100px;
    background-color: lightcyan;
    border: solid yellowgreen;
}
*{
    font-size: 25px;
}