h1{
    color: blueviolet;
}
h2{
    text-align: center;
}
p{
    background-color: aqua;
}
.g1{
     /* text-shadow:
    1px 1px 1px red,
    2px 2px 1px red; */
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
} 
*{
    background-color: aqua;
    font-family: "Arial";

}
